In [1]:
import os
import yaml
import pandas as pd

In [19]:
import os
import yaml
import pandas as pd

root_folder = "/home/shigilsasi/code/Guvi_Projects/Stock_Analysis/data"

all_data = []

# Loop through each month folder
for month_folder in os.listdir(root_folder):

    full_month_path = os.path.join(root_folder, month_folder)

    # Ensure it's a folder
    if os.path.isdir(full_month_path):

        # Loop through YAML files inside the month folder
        for file in os.listdir(full_month_path):
            if file.endswith(".yaml") or file.endswith(".yml"):
                
                file_path = os.path.join(full_month_path, file)

                with open(file_path, "r") as f:
                    data = yaml.safe_load(f)

                df = pd.DataFrame(data)

                # Add month & file as metadata (optional)
                df["month"] = month_folder
                df["source_file"] = file

                all_data.append(df)

# Combine everything
final_df = pd.concat(all_data, ignore_index=True)

# Save to CSV
output_path = "/home/shigilsasi/code/Guvi_Projects/Stock_Analysis/all_stock_data.csv"
final_df.to_csv(output_path, index=False)


print(final_df.head())

       Ticker    close                 date     high      low    month  \
0        SBIN   642.75  2024-01-04 05:30:00   646.40   638.65  2024-01
1  BAJFINANCE  7705.55  2024-01-04 05:30:00  7733.95  7560.00  2024-01
2       TITAN  3719.70  2024-01-04 05:30:00  3727.00  3686.65  2024-01
3         ITC   476.40  2024-01-04 05:30:00   481.45   474.20  2024-01
4         TCS  3666.80  2024-01-04 05:30:00  3719.00  3651.00  2024-01

      open    volume               source_file
0   642.50  13883388  2024-01-04_05-30-00.yaml
1  7560.00   2911879  2024-01-04_05-30-00.yaml
2  3696.00    545228  2024-01-04_05-30-00.yaml
3   480.00  11786959  2024-01-04_05-30-00.yaml
4  3701.75   3598144  2024-01-04_05-30-00.yaml

In [20]:
final_df.head()

,Ticker,close,date,high,low,month,open,volume,source_file
0,SBIN,642.75,2024-01-04 05:30:00,646.40,638.65,2024-01,642.50,13883388,2024-01-04_05-30-00.yaml
1,BAJFINANCE,7705.55,2024-01-04 05:30:00,7733.95,7560.00,2024-01,7560.00,2911879,2024-01-04_05-30-00.yaml
2,TITAN,3719.70,2024-01-04 05:30:00,3727.00,3686.65,2024-01,3696.00,545228,2024-01-04_05-30-00.yaml
3,ITC,476.40,2024-01-04 05:30:00,481.45,474.20,2024-01,480.00,11786959,2024-01-04_05-30-00.yaml
4,TCS,3666.80,2024-01-04 05:30:00,3719.00,3651.00,2024-01,3701.75,3598144,2024-01-04_05-30-00.yaml

In [21]:
final_df.drop("source_file", axis=1, inplace=True)

In [22]:
final_df.head()

,Ticker,close,date,high,low,month,open,volume
0,SBIN,642.75,2024-01-04 05:30:00,646.40,638.65,2024-01,642.50,13883388
1,BAJFINANCE,7705.55,2024-01-04 05:30:00,7733.95,7560.00,2024-01,7560.00,2911879
2,TITAN,3719.70,2024-01-04 05:30:00,3727.00,3686.65,2024-01,3696.00,545228
3,ITC,476.40,2024-01-04 05:30:00,481.45,474.20,2024-01,480.00,11786959
4,TCS,3666.80,2024-01-04 05:30:00,3719.00,3651.00,2024-01,3701.75,3598144

In [23]:
final_df.shape

(14200, 8)